body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 10px;
    width: 20%;
    height: 15%;
    padding: 0%;
}

button:hover{
    background-color: lightblue;
    transition: .5s;
    
}

.section1{
    background-color: #1f2937;
    height: 500px;
}

.header-container{
    display: flex;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.header-logo-item{
    flex: 7 1 auto;
    color: #f9faf8;
    font-size: 24px;
}

.header-link-item{
    flex: 1 auto;
    text-align: right;
    padding-top: 18px;
    font-style: normal;
    text-decoration: none;
    color: lightslategray;
}
.hero-container{
    display: flex;
    width: 70%;
    height: 40%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10%;
    justify-content: center;
}

.hero-item-text{
    flex: 1;
}

.hero-item-img{
    flex: 1;
    background-color: grey;
    text-align: center;
    
}

#hero-main-text{
    color: #f9faf8;
    font-size: 48px;
    font-style: bolder;
    margin: 0;
}

#hero-main-subtext{
    color: lightslategray;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}

/*  section 2   */
.section2{
    height: 350px;
}

.section2-text{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.img-folio-container{
    display: flex;
    width: 60%;
    height: 60%;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-between;
}

.img-folio{
    height: 80%;
    width: 80%;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.img-folio-item{
    height: 80%;
    width: 20%;
    flex: 0 1 auto;
}

.section3{
    background-color: #e5e7eb;
    height: 350px;
}

.section3-container{
    width: 60%;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.section3-item .testimonial{
    padding-top: 75px;
}

.testimonial-subtext{
    text-align: right;
    font-size: 20px;
    color: grey;
    padding-bottom: 75px;
}

.section3-item{
    flex: 0;
}
.testimonial{
    font-size: 36px;
    font-style: italic;
}


.section4{
    height: 250px;
}

.section4-container{
    display: flex;
    width: 70%;
    height: 150px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    background-color: #3882f6;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.section4-left{
    flex: 1;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.section4-left .main{
    font-size: 25px;
    margin: 0%;
    font-weight: 700;
    color: #f9faf8
}

.section4-left .sub{
    font-size:medium;
    font-weight: 600;
    color: lightgray
}


.section4-right{
    flex: .5;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.section4-right button{
    height: 40px;
    width: 120px;
    background-color: aqua;
}

.footnote{
    background-color: #1f2937;
    font-size: 12px;
    color: lightslategray;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    height: 50px;
}