body{
    margin: 0%;
}

button{
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 10px;
    width: 20%;
    height: 15%;
    padding: 0%;
}

button:hover{
    background-color: lightblue;
    transition: .5s;
    
}

.section1{
    background-color: #1f2937;
    height: 500px;
}

.header-container{
    display: flex;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.header-logo-item{
    flex: 7 1 auto;
    color: #f9faf8;
    font-size: 24px;
}

.header-link-item{
    flex: 1 auto;
    text-align: right;
    padding-top: 18px;
    font-style: normal;
    text-decoration: none;
    color: lightslategray;
}
.hero-container{
    display: flex;
    width: 70%;
    height: 40%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10%;
    justify-content: center;
}

.hero-item-text{
    flex: 1;
}

.hero-item-img{
    flex: 1;
    background-color: grey;
    text-align: center;
    
}

#hero-main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

#hero-main-subtext{
    color: lightslategray;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}